body{
    font-family: 'Ubuntu', sans-serif;
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    text-decoration:none;
}
nav{
    height:80px;
    background:crimson;
    
}
.logo{
    width:150px;
    position: absolute;
    top:17px;
    left:12%;
    font-size:35px;
    font-weight:600;
}
.logo a{
    color:white;
}
.logo a span{
    color:black;
}

nav ul{
    float:right;
    margin-right:25px;
    margin:auto;
    padding: 0 80px;
}
nav ul li{
    display:inline-block;
    line-height:80px;
    margin:0 15px;   
}
nav ul li a{
    position: relative;
    color:white;
    font-size:18px;
    text-orientation: uppercase;
}
nav ul li a:before{
    position: absolute;
    content:'';
    left:0;
    bottom:0;
    height:3px;
    width:100%;
    transition: color 0.3s ease;

}
nav ul li a:hover{
   color:black;
}
label #btn,
label #cancel{
    color:white;
    font-size:30px;
    float:right;
    line-height:80px;
    margin-right:40px;
    cursor:pointer;
    display:none;
}
#check{
    display:none;
}


#myPicture{
    margin-top:4%;
    margin-left:25%;
}


@media (max-width:1118px){
    .logo{
        left:8%;
    }
    .logo a span{
        left:8%;
    }
}
@media (max-width:944px){
    .logo{
        left:6%;
        top:20px;
        width:130px;
    }
    nav ul li a{
        font-size:17px;
    }
}
@media (max-width:860px){
    #myPicture{
        width:400px;
        height:300px;
    }
    label #btn{
        display:block;
    }
    ul{
        position:fixed;
        width:100%;
        height:100vh;
        background:black;
        top:80px;
        left:-100%;
        text-align:center;
        transition: all .5s;
    }
    nav ul li{
        display:block;
        margin:50px 0;
        line-height:30px;
    }
    nav ul li a{
        font-size:20px;
    }
    #check:checked ~ ul{
        left:0;
    }
    #check:checked ~ label #btn{
        display:none;
    }
    #check:checked ~ label #cancel{
        display:block;
    }
}
@media (max-width:300px){
    #myPicture{
        width:20%;
        height:15%;
    }
}


/*@media (max-width: 947px){
    .max-width{
        padding:0 50px;
    }
    .menu-btn{
        display:block;
        z-index:999;
    }
    .navbar .menu{
        position:fixed;
        height:100vh;
        width:100%;
        left:-100%;
        top:0;
        background:#111;
        text-align:center;
        padding-top:80px;
    }
    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu li{
       display:block; 
    }
    .navbar .menu li a{
        display:inline-block;
        margin:20px 0;
        font-size:25px;
    }
}
*/